$white_color : #FFFFFF;
$assistant_font : 'Assistant',
sans-serif;
$playFairDisplay_font : 'Playfair Display',
serif;
$dark_blue_color_primary :#071C4D;
$dark_blue_color_primary_button :#03045e;
$dark_blue_color_primary_button_hover :#14213d;
$dark_blue_color_secondary : #051334;
$grey_color_bg : #E4E6EB;
$light_grey_color_button : #F2F2F2;
$dark_grey_color_button : #C3C3C3;
$orange_color : #fb8500;
$orange_color_hover : #f3722c;


body {
    background-color: $white_color;
    font-family: $assistant_font;
    color: $dark_blue_color_primary;
}

// Navbar
.navbar-brand {
    img {
        max-height: 50px;
        max-width: 188px;
    }
}

.btn-desktop {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    width: 120px;
    border-radius: 0px;
}

.btn-login {
    background-color: $dark_blue_color_primary_button;
    color: $white_color;
    font-size: 20px;

    &:hover {
        background-color: $dark_blue_color_primary_button_hover;
        color: $white_color;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: $dark_blue_color_primary;
            font-size: 20px;

            &.active {
                font-weight: bold;
                color: $dark_blue_color_primary !important;
            }
        }
    }
}

// Header 
header {
    margin-top: -70px;
    height: 650px;
    padding-top: 180px;
    padding-bottom: 165px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header@2x.png);
    color: $white_color;

    h1 {
        font-size: 50px;
        font-weight: bold;
        font-family: $playFairDisplay_font;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: $orange_color;
        color: $white_color;

        &:hover {
            background-color: $orange_color_hover;
            color: $white_color;
        }
    }
}